
body {
    margin: auto;
    max-width: 1240px;
    font-family: 'Marvel', sans-serif;
}
.FlexContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
