<!-- pour insérer le css et le js 
a compléter avec le fichier settings.py dans l'app source 
et biensur la balise link dans le <head> -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Boutique</title>
    <link rel="stylesheet" href="{% static 'flipcard.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- la redirection de la balise a pointe vers l'url qui porte le nom de : 'index' et qui est défini dans urls.py -->
    <a href="{% url 'index' %}">
        <h1>Accéder à la Boutique</h1>
    </a>
    <!-- tous les blocs de python importés dans un fihier HTML doivent être refermés
         exemple : 
        Pour l'insertion de variables définies dans les modèles on utilisera {{ variable.nom }} entre double {} -->
    {% if user.is_authenticated %}
        Bien le bonjour {{ user.username }}
        <a href="{% url 'logout' %}">Se déconnecter</a>
    {% else %}
    <a href="{% url 'login' %}">Connexion</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
    {% endif %}

    {% if user.cart %}
        <a href="{% url 'cart' %}">Accéder au panier ({{ user.cart.orders.count }})</a>
    {% endif %}

    {% block content %}
    {% endblock %}
    
</body>
</html>